/* For all CSS configs as they relate to base.html */

#nav_header {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#nav_body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.navbar-light .nav-item .nav-link {
  color: #262626;
}

.navbar-light .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.471);
  transition: all 0.6s ease;
  border-radius: 0.25rem;
  color: #262626;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2rem;            /* Footer height */
}