/*All below code from https://uiverse.io/andrew-demchenk0/giant-termite-81 */


.button_container {
    position: relative; /* Ensure container has relative positioning */
    height: 100px;      /* Set a height to see the effect */
    width: 250px;       /* Set a width to see the effect */
    /*border: 1px solid #b3b0b0;  Optional: add border for visibility */
    
}

.button {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 9px 12px;
    gap: 8px;
    height: 40px;
    width: 201px;
    border: none;
    background: hsl(184, 33%, 37%);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .lable {
    line-height: 22px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: hsl(184, 76%, 18%);
  }
  
  .button:hover .svg-icon {
    animation: slope 1s linear infinite;
  }
  
  @keyframes slope {
    0% {
    }
  
    50% {
      transform: rotate(10deg);
    }
  
    100% {
    }
  }