/* Most code from https://www.codingnepalweb.com/dynamic-calendar-html-css-javascript/ */

.wrapper{
width: 450px;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 10px;
box-shadow: 0 15px 40px rgba(0,0,0,0.12);
margin-right: 10px;
margin-left: 10px;
}
.wrapper header{
display: flex;
align-items: center;
padding: 25px 30px 10px;
justify-content: space-between;
}
header .icons{
display: flex;
}
header .icons span{
height: 38px;
width: 38px;
margin: 0 1px;
cursor: pointer;
color: #2d2d2d;
text-align: center;
line-height: 38px;
font-size: 1.9rem;
user-select: none;
border-radius: 50%;
}
.icons span:last-child{
margin-right: -10px;
}
header .icons span:hover{
background: #f2f2f2;
}
header .current-date{
font-size: 1.65rem;
font-weight: 500;
}
.calendar{
padding: 20px;
}
.calendar ul{
display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;
}
.calendar .days{
margin-bottom: 20px;
}
.calendar li{
color: #0b0b0b;
width: calc(100% / 7);
font-size: 1.07rem;
}
.calendar .weeks li{
font-weight: 500;
cursor: default;
}
.calendar .days li{
z-index: 1;
cursor: pointer;
position: relative;
margin-top: 30px;
}
.events {
    color:#a11717
}
.days li.inactive{
color: #898989;
}
.days li.active{
color: #fff;
}
.days li.current{
color: #000000;
}
.days li::before{
position: absolute;
content: "";
left: 50%;
top: 50%;
height: 40px;
width: 40px;
z-index: -1;
border-radius: 50%;
transform: translate(-50%, -50%);
}
.days li.active::before{
background: #003c43d0;
}
.days li.current::before{
background: #003c4354;
}
.days li:not(.active):hover::before{
background: rgba(0, 73, 82, 0.181);
}
