{% extends "base.html" %}
{% block title %}
QUACK Catalog
{% endblock %}

{% block styles %}
{% endblock %}

{% block link %}
{% endblock %}

{% block content %}

<p>{{len}} Total Books:</p>

<div style=" text-align: center; color:crimson;">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
<table style="margin-left: 20px; align-self: center; margin-left: auto; margin-right: auto;"> 
    
        <th> 
            <tr style="color: black; ">     
            <td>Title</td> 
            <td>Info</td> 
    </tr> 
        </th> 
    {%for i in range(0, len)%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/book.css')}}"/> 
    
    <div class = book-table>
        <tr> 
            <td>{{books[i]["title"]}}</td> 
            <td>
                <div class="book">
                    <p style="text-align: center;">ISBN: {{books[i]['_id']}}<br>
                    Author: {{books[i]['author']}}<br>
                    Year: {{books[i]['release_year']}}<br>
                    Publisher: {{books[i]['publisher']}}<br>
                    Is Available: {{books[i]['availability']}}    
                    </p>
                    <div class="cover">
                        <div  z-index: 0 style="text-align: center;">Image Not Available</div>
                        <img style="position: fixed;" src="{{books[i]['cover_img']}}"  height="210px" width="140px">
                    </div>
                </div>
            </td>
           
            <td>
                <form action="/checkout" method="POST">
                    <input type="hidden" name="isbn" value="{{books[i]['_id']}}">
                    <button id="home_button" type="submit">Checkout</button>
                </form>
            </td> 
        </tr> 
          
        
        
            
    </div>     
    {%endfor%}
</table> 
<p></p>
{% endblock %}
