{% extends "base.html" %}
{% block title %} QUACK Employee Dashboard {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-employee.css')}}"/>
{% endblock %}

{% block content %}
<div class="admin-container">
    <div class="admin-dashboard">
        <div class="welcome-message">
            <h2>Welcome, Employee {{username}}</h2>
            <p>Thank you for all of your hard work!.</p>
        </div>
        <div class="admin-buttons">
            <a href="/events/create/" class="admin-button">Create Event</a>
            <a href="/catalog" class="admin-button">Manage Inventory</a>
            <a href="/logout"  class="admin-button logout-button">Logout</a>
        </div>
    </div>
</div>
{% endblock %}