{% extends "base.html" %}
{% block title %}
QUACK Events
{% endblock %}

<!-- Library Hours: 8:00am - 8:00pm -->
<!-- Event Blocks: 1 per hour (1 hour after opening and before closing); 7 per day (30 minutes in between) -->
<!-- Can plan 30 days in adavance -->

{% block styles %}

{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/events.css')}}"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script type="text/javascript">
    const passedYear = {{event["year"]}};
    const passedMonth = {{event["month"]}};
    const passedDate = {{event["day"]}};
    const passedPeriod = {{event["period"]}};
    
    // helperFunc = selectEvent({{event["year"]}}, {{event["month"]}}, {{event["day"]}}, {{event["period"]}});
 </script>
<script src="{{ url_for('static', filename='scripts/events.js') }}" defer></script>

{% endblock %}

{% block content %}
<main>
    <div class="wrapper">
        <header>
            <p class="current-date"></p>
            <div class="icons">
                <span id="prev" class="material-symbols-rounded">chevron_left</span>
                <span id="next" class="material-symbols-rounded">chevron_right</span>
            </div>
        </header>
        <div class="calendar">
            <ul class="weeks">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="days"></ul>
        </div>
    </div>

    <section class="events-section">
        <div>
        <h2>Events for {{ month }} {{ event["day"] }}, {{ event["year"] }}</h2>
        <!-- If open: contact front desk about scheduling event or call 123-456-7890 -->
        <!-- <p> {% for event in events %}

                <li> event.title </li>

            {% endfor %}
        </p> -->
        <ul class="events"></ul>
    </section>

    <section class="event-section">
        <h2>SPecific for some reason super long Event Title</h2>
        <h3></h3>
    </section>
    
</main>
{% endblock %}
