{% extends "base.html" %}
{% block title %}
QUACK Events
{% endblock %}

<!-- Library Hours: 8:00am - 8:00pm -->
<!-- Event Blocks: 1 per hour (1 hour after opening and before closing); 7 per day (30 minutes in between) -->
<!-- Can plan 30 days in adavance -->

{% block styles %}

{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/events.css')}}"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    const passedYear = {{event["year"]}};
    const passedMonth = {{event["month"]}};
    const passedDate = {{event["day"]}};
    const passedPeriod = {{event["period"]}};
</script>
<script src="{{ url_for('static', filename='scripts/events.js') }}" defer></script>

{% endblock %}

{% block content %}
<main>
    <div class="wrapper">
        <header>
            <p class="current-date"></p>
            <div class="icons">
                <span id="prev" class="material-symbols-rounded">chevron_left</span>
                <span id="next" class="material-symbols-rounded">chevron_right</span>
            </div>
        </header>
        <div class="calendar">
            <ul class="weeks">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="days"></ul>
        </div>
    </div>

    <section class="events-section">
        <h2>Events for {{ month }} {{ event["day"] }}, {{ event["year"] }}</h2>
        <ul class="events"></ul>
    </section>

    <!-- Template to be loaded (for approved events) by js when event clicked -->
    <section class="event-section">

        {% if slotAvailable %}
            <div class="event_info"></div>
            {% if usertype == "admin" or usertype == "employee" or usertype == "member" %}
                <!-- Needs: subscribed_events section under user. Can look for event _id (or title) in attribute to see if they have already rsvp'd -->
                <a href='{{ url_for("event_rsvp", year=event["year"], month=event["month"], day=event["day"], period=event["period"]) }}'><button class="_button rsvp_authed"> RSVP for event </button></a>
            {% else %}
                <!-- Takes to create user. Needs: login button under create user. Redirect from user creation to origin page (here) -->
                <a href='{{ url_for("event_rsvp", year=event["year"], month=event["month"], day=event["day"], period=event["period"]) }}'><button class="_button rsvp_unauthed"> RSVP for event </button></a>
            {% endif %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for cat, msg in messages %}
                            {% if cat == "error" %}
                                <h4 style="text-align: center; color:rgba(255, 0, 0, 0.59)">{{msg}}</h4>
                            {% else %}
                                <h4 style="text-align: center; color:rgb(0, 108, 132)">{{msg}}</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        {% else %}
            <h2>Event not Created or Approved</h2>
            <br>
            {% if usertype == "admin" or usertype == "employee"%}
                <h4 style="text-align: center;">If not waiting on approval, create event here:</h4>
                <!-- Needs: event creation menu -->
                <!-- For assigned user, subcribe them to event and incriment rsvp by one -->
                <a href='{{ url_for("event_create") }}'><button class="_button create_event"> Create Event </button></a>
            {% else %}
                <h4 style="text-align: center;">Please contact front desk or call 123-456-7890 to see about reserving an event.</h4>
            {% endif %}
        {% endif %}
        
    </section>
    
</main>
{% endblock %}
