<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quack Home</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
        
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
    
    </style>

</head>
<body style="background-color: rgb(186, 255, 255);">
    <header>
        <h1 style="text-align:center; color: darkcyan">Quack Library</h1>
    </header>
    <h2>Welcome!</h2>
    <nav>
        <ul>
            <li><a href="#profile">Login</a></li>
            
        </ul>
    </nav>
    
    <main>
        <section id="message">
            
            <p>We're glad to have you here! Explore the navigation links to view your profile, change settings, or logout.</p>
        </section>

    </main>
    
    <form action= "create-user" method="get">
        <button type="submit">Create User</button>
    </form> 
</body>
</html>
