{% extends "base.html" %}
{% block title %}
QUACK Home
{% endblock %}

{% block styles %}
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
        }
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Welcome!</h2>
    <nav>
        <ul>
            <li><a href="#profile">Login</a></li>
        </ul>
    </nav>

    <main>
        <section id="message">
            
            <p>We're glad to have you here! Explore the navigation links to view your profile, change settings, or logout.</p>

        </section>
    </main>

    <form action= "create-user" method="get">
        <button type="submit">Create User</button>
    </form> 
{% endblock %}