{% extends "base.html" %}
{% block title %}
Login Page
{% endblock %}

{% block styles %}
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/button_style.css') }}">
{% endblock %}

{% block content %}



    <div class="container-fluid">
        <h1>Login</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <br>
        <div class="content">
        <form method="POST">
            <p>
                <b><label for="content">User Info</label></b>
            </p>
            <p>
                <input type="text" name="username"
                    placeholder="Username"></input>
            </p>
            <p>
                <input type="text" name="password"
                    placeholder="Password"></input>
            </p>


            <button type="submit">Submit</button>
        </form>
        </div>

    </div>
{% endblock %}