{% extends "base.html" %}
{% block title %}
QUACK Home
{% endblock %}

{% block styles %}
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homestyle.css')}}"/>
{% endblock %}

{% block content %}
    <main>
        <section class="welcome-section">
            <h2>Welcome!</h2>
            <p>We're thrilled to have you here! Dive into a world of knowledge and imagination. Explore our vast collection, manage your profile, and embark on countless literary adventures.</p>
        </section>

        <!-- <section class="welcome-section"> -->
        <section class="welcome-section">
            <h2>Login</h2>
            <div class="login-form">
                <form method="POST">
                    <p>
                        <input type="text" name="content_username"
                            placeholder="Username"></input>
                    </p>
        
                    <p>
                        <input type="text" name="content_password"
                            placeholder="Password"></input>
                    </p>
                    <button id="home_button" type="submit">Login</button>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for cat, msg in messages %}
                                {% if cat == "error" %}
                                    <h5 style="text-align: center; color:rgba(255, 0, 0, 0.59); font-size: 1.1em;">{{msg}}</h5>
                                {% else %}
                                    <h5 style="text-align: center; color:rgb(0, 108, 132); font-size: 1.1em;">{{msg}}</h5>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </section>
    </main>
{% endblock %}