{% extends "base.html" %}
{% block title %} QUACK Member Dashboard {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/member.css')}}"/>
{% endblock %}

{% block content %}
<div class="member-container">
    <div class="member-dashboard">
        <div class="welcome-message">
            <h2>Welcome, {{username}}!</h2>
            <p>Explore our library resources and upcoming events.</p>
        </div>
        <div class="member-buttons">
            <a href="/catalog" class="member-button">Browse Catalog</a>
            <a href="#"  class="member-button">View Events</a>
            <a href="/logout"  class="member-button logout-button">Logout</a>
        </div>
    </div>
</div>
{% endblock %}