{% extends "base.html" %}
{% block title %}
Reservation Management
{% endblock %}

{% block styles %}
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homestyle.css')}}"/>
{% endblock %}

{% block content %}
    <main>
        <!-- <section class="welcome-section"> -->
        <section class="welcome-section">
            <h2>Reservation</h2>
            <div class="reservations">

                <p>
                    Would you like to reserve this item?<br>
                    Title: {{item["title"]}}
                </p>
                <form action="/reservation/joining" method="POST">
                    <input type="hidden" name="item_id" value="{{item_id}}">
                    <button id="home_button" type="submit">Join Waitlist</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}